<div class="body">
    <div class="backerHome">
        <div class="textHome">
            <div class="headingHome pagewideFont">
                Please select a mode to use
            </div>
            </br>
            </br>
            <div class="modeHolder">
                <div class="inline homeColumn1">
                    <div class="pagewideFont">Student ID</div>
                    </br>
                    <div><input class="studentIdInput pagewideFont homeInput" /></div>
                </div>
                <div class="inline homeColumn2">
                    <div>
                        <div class="inline"><button class="homeButton">Create</button></div>
                        <div class="inline pagewideFont homeInnerColumn2">Create a new study plan</div>
                    </div>
                    <div class="homeRow2">
                        <div class="inline"><button class="homeButton">Edit</button></div>
                        <div class="inline pagewideFont homeInnerColumn2">Edit an existing study plan</div>
                    </div>
                </div>
                <div class="inline homeColumn3">
                    <div>
                        <div><button class="homeButton rightAlign">Edit Courses</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>