<div class="body">
    <div class="backerHome">
        <div class="textHome">
            <div class="headingHome pagewideFont">
                Please select a mode to use
            </div>
            <br>
            <br>
                
            @using (Html.BeginForm("CreateEdit", "Home", FormMethod.Post, new { id = "selectionForm" }))
            {
                @:<div class="modeHolder">
                    @:<div class="pagewideFont inline homeColumn1">
                        @:Student ID
                        @:<br>
                        <div><input type="text" class="studentIdInput pagewideFont homeInput" name="studentID" /></div>
                    @:</div>
                    <div class="inline homeColumn2">
                        <div>
                            <button type="submit" class="homeButton" name="create" value="create" title="Create Plan">Create</button>
                            Create a new study plan
                        </div>
                        <div class="homeRow2">
                            <button type="submit" class="homeButton" name="edit" value="edit" title="Edit Plan">Edit</button>
                            Edit an existing study plan
                        </div>
                    </div>
                    <div class="inline homeColumn3">
                        <button type="button" class="homeButton2 rightAlign" onclick="location.href = '../Home/EditCourse';">Edit Courses</button>
                    </div>
                @:</div>
            }   
        </div>
    </div>
</div>