@model custom_study_plan_generator.Models.FileModel


@{
    ViewBag.Title = "submitPlanAsync";
}

<h2>Plan Submitted</h2>

<table>
    <tr>
        <td>
            @Html.ActionLink("Download", "DownloadAsync", new
                     {
                         title = Model.Title,
                         downloadUrl = Model.DownloadUrl
                     })
        </td>
    </tr>

</table>