@using Microsoft.AspNet.Identity
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
                <div class="large-6 columns">
                    <nav class="user-nav">   
                        <ul>
                            <li class="first">
                                <span class="icon user-icon"></span>
                                @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                <span class="user-icon-spacer"></span>
                            </li>
                            <li class="last"><a class="with-divider" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                        </ul>
                    </nav>
                </div>

            }



        }
        else
        {
            <div class="large-6 columns">
                <nav class="user-nav">
                    <ul>
                        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    </ul>
                </nav>
                </div>
                }
