@using Microsoft.AspNet.Identity
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
           
                            <li class="first">
                                <span class="icon user-icon"></span>
                                @User.Identity.GetUserName()
                                <span class="user-icon-spacer"></span>
                            </li>
                <li class="last"><a class="with-divider" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            

            }

        }