@Scripts.Render("~/Scripts/Login.js")

@using custom_study_plan_generator.Models
@model LoginViewModel

<div class="body">
    <div class="backerHome">
        <div id ="textLogin" class="textLogin">
            Welcome to the custom study plan generator. You may access this web application if you are a staff member at RMIT.
            </br>
            </br>
            You will require a student email address to create or select a study plan.
            </br>
            </br>
            Please login to continue.
            </br>
            </br>
            </br>
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>
</div>

<div class="bodyBottom">

</div>